<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GL - Add User</title>
    <link rel="Icon" href="../static/gl-icon.png">
</head>
<body>
    {% if error %}
    <h3>{{ error }}</h3>
    {% endif %}
    <form method="post" action="/add_user">
        <input type="text" name="name" autofocus autocomplete="off" placeholder="Name">
        <input type="text" name="title" autocomplete="off" placeholder="Title">
        <input type="text" name="phone" autocomplete="off" placeholder="Phone">
        <input type="email" name="email" autocomplete="off" placeholder="Email">
        <input type="submit">
    </form>
</body>
</html>