<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GL - Admin Login</title>
    <link rel="Icon" href="../static/gl-icon.png">
</head>
<body>
    <form method="post" action="/admin_login">
        <input type="text" name="username" autofocus autocomplete="off" placeholder="Username">
        <input type="password" name="password" autofocus autocomplete="off" placeholder="Password">
        <input type="submit">
    </form>
</body>
</html>