{% extends "layout.html" %}

{% block title %}
Classes
{% endblock %}

{% block content %}
<h2>Classes <a href="/add_class" class="btn btn-primary">Add Class</a></h2>
{% if classes %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Class Name</th>
            <th>Class Type</th>
            <th>Students</th>
        </tr>
    </thead>
    <tbody>
        {% for class in classes %}
        <tr class="clickable-row">
            <td>
                <a href="/view_class?id={{ class.id }}">{{ class.id }}</a>
            </td>
            <td>
                <a href="/view_class?id={{ class.id }}">{{ class.name }}</a>
            </td>
            <td>
                <a href="/view_class?id={{ class.id }}">{{ class.type }}</a>
            </td>
            <td>
                <a href="/view_class?id={{ class.id }}">{{ class.students_count }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
