{% extends "layout.html" %}

{% block title %}
Edit Category
{% endblock %}

{% block content %}
<div class="container">
    <h2>Edit Category</h2>
    <form method="post" action="/edit_category">
        <input type="hidden" name="id" value="{{ cat.id }}">
        <div class="form-group">
            <label for="name">Category Name:</label>
            <input class="form-control" type="text" value="{{ cat.name }}" id="name" name="name" required autofocus autocomplete="off">
        </div>
        <div class="form-group">
            <label for="share">Grade %:</label>
            <input class="form-control" type="number" min="0" max="100" value="{{ (cat.share*100)|int }}" id="share" name="share" required autocomplete="off">
        </div>
        <button type="submit" class="btn btn-primary">Update Category</button>
    </form>
</div>
{% endblock %}